<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/custom.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon-16x16.png' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | relative_url }}">
</head>
<body>
    <div class="section" id="section-intro">
        <div class="section-container">
            <h1>NDOTO</h1>
            <p>Bienvenue sur le site des archives de NDOTO. Cette asso a été une grande aventure qui s'était fixée pour but de soutenir une communauté Massaï en Tanzanie dans la construction d'une école primaire. La mission de NDOTO est désormais terminée, mais son impact continue de résonner à travers les enfants, les familles et les communautés qui bénéficient de cette école. Ce site est un témoignage de cette belle aventure collective, une archive de ce que nous avons accompli ensemble.</p>
            <a href="#section-mission" class="arrow">&#x25BC;</a>
        </div>
    </div>
    <div class="section" id="section-mission">
        <div class="section-container">
            <h1>Notre mission</h1>
            <p>La raison d’être de **NDOTO** était d’accompagner la communauté d’Oltepes dans la création de leur école, en veillant à ce qu’elle réponde aux besoins éducatifs des enfants du village. Nous n'avions pas pour objectif de gérer l'école à long terme, mais plutôt de soutenir son développement pour qu'elle devienne un établissement éducatif autonome, intégré au système scolaire public tanzanien.</p>
            <p>Sans prétention, nos valeurs étaient d'être **unificateur** et **bénévole**, unissant les efforts et les ressources pour réaliser un projet commun. Ce modèle de **co-construction** et de **partenariat** a permis de créer une école qui répond aux besoins immédiats de la communauté, tout en posant les bases d’une **éducation durable** et accessible. Notre objectif était de garantir un accès équitable à l’éducation, non seulement pour aujourd’hui, mais aussi pour les **générations futures**.</p>
            <a href="#section-impact" class="arrow">&#x25BC;</a>
        </div>
    </div>
    <div class="section" id="section-impact">
        <div class="section-container">
            <h1>L'impact</h1>
            <p>Le projet, loin de se dérouler tel que nous l'imaginions de base a atteint tous ses objectifs. Cependant, considérer que cela est "Notre" impact serait prétentieux. Au contraire, c'est celui joint de la communauté et d'Africa Amini Alama. Les infrastructures ont été construites, toutes les classes de niveau primaire ouvertes et l'école était gérée par le village. Il a fallut cependant une forte contribution de l'organisation Africa Amini Alama qui a énormément financé et soutenu la réalisation de l'école. Au jour de la dissolution de l'association NDOTO, cette ONG accompagnait toujours le village dans la gestion de l'école.</p>
            <h2>Moment marquants</h2>
            <ul>
                <li>2025, mars : dissolution de l'association.</li>
                <li>2025, janvier : plus de 230 enfants sont scolarisés et le projet touche à son terme, côté NDOTO.</li>
                <li>2024, août : construction des infrastructures manquantes.</li>
                <li>2023, avril : construction d'une 4ème salle de classe.</li>
                <li>2022, janvier : ouverture de l'école !</li>
                <li>2021, mai : deux salles de classes et les salles des maîtres sont construites et Africa Amini Alama rejoint le projet.</li>
                <li>2020 : le projet ralenti mais continue avec la construction des sanitaires.</li>
                <li>2019, mars : grâce à une récolte de fonds dans le village, la communauté, construit la première salle de classe.</li>
                <li>2019, février : Obtention du droit d'exploitation du terrain par le district d'Arusha.</li>
                <li>2016, juillet : naissance d'une idée lors de la rencontre d'Augustino et Anthony par Niki et Nathan suivie d'une visite, avec les anciens, à leur village.</li>
            </ul>
            <a href="#section-documents" class="arrow">&#x25BC;</a> <!-- Loops back to top -->
        </div>
    </div>
    <div class="section" id="section-merci">
        <div class="section-container">
            <h1>Merci</h1>
            <p>Tout au long de ce parcours, il y a eu des hauts, et puis nous avons traversé des moments de défis et de doutes. Cette réalisation est le reflet du travail de toutes les personnes impliquées et de miracles qui ont su arrivé au bon moment. Tout d'abord, c'est la réalisation de la communauté locale, du district d'Arusha et d'Africa Amini Alama.</p>
            <p>Nous tenons à exprimer notre reconnaissance particulière à ceux qui ont été les piliers de cette aventure, du côté de NDOTO :</p>
            <ul>
                <li>Niki, Augustino, Anthony, Lelya, et Onesmo, ainsi que les anciens du village, qui ont nourri cette idée et qui, grâce à leur vision et leur effort, a permis à ce projet de voir le jour.</li>
                <li>Aissata, Dominique, Guillaume, Antoine, Cassie, Nico, Marilia, Siméon, Timon, Alexis, Lou, Jean-Luc, Nora et Viki, qui ont généreusement investi leur temps et leurs compétences pour faire avancer ce projet avec engagement.</li>
                <li>À toutes les personnes qui, de près ou de loin, ont apporté leur soutien, que ce soit en préparant un repas lors d'un événement, en faisant connaître notre association, ou en participant de manière spontanée.</li>
            </ul>
            <p>Merci d’avoir cru en ce projet et d’avoir fait partie de cette belle aventure !</p>
        </div>
    </div>
    <div class="section" id="section-documents">
        <div class="section-container">
            <h1>Archives</h1>
            <ul>
                <li><a href="{{ '/assets/rapport-activités-2022.pdf | relative_url }}" target="_blank" style="font-size: 1.1em; color: #ff9d06;">Rapport d'activités 2022.pdf</a></li>
                <li><a href="{{ '/assets/rapport-activités-2020.pdf | relative_url }}" target="_blank" style="font-size: 1.1em; color: #ff9d06;">Rapport d'activités 2020.pdf</a></li>
                <li><a href="{{ '/assets/rapport-activités-2019.pdf | relative_url }}" target="_blank" style="font-size: 1.1em; color: #ff9d06;">Rapport d'activités 2019.pdf</a></li>
                <li><a href="{{ '/assets/statuts.pdf | relative_url }}" target="_blank" style="font-size: 1.1em; color: #ff9d06;">Statuts.pdf</a></li>
            </ul>
            
            <a href="#section-intro" class="arrow">&#x25BC;</a> <!-- Loops back to top -->
        </div>
    </div>
</body>
</html>
